.headerImage{
    position: relative;
    z-index: 0;
}
.headerImage::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: .8;
    z-index: -1;
}
.logo{
    z-index: 1;
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 55px;
    margin: 0 10px;
}
.logo ul{
    width: 100%;
    border-top: 1px solid #ffc107;
    display: flex;
    padding-left: 45px;
    padding-top: 7px;
    margin-bottom: 0;
}
.logo ul:last-child{
    justify-content: flex-end;
    padding-right: 45px;
}
.logo ul li{
    list-style: none;
}
.logo ul li a{
    margin: 4px 12px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-decoration: none;
}
.logo ul li a:hover{
    color: #ffc107;
    border-bottom: 1px solid #ffc107;
    transition: 0.1s all ease;
}
.active{
    color: #ffc107!important;
    border-bottom: 1px solid #ffc107;
}
.headerMainContent{
    z-index: 10;
    padding: 40px 0;
}
.headerContent{
    display: inline-block;
    position: relative;
}
.headerContent h2{
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    font-size: 96px;
    line-height: 1;
    position: absolute;
    top: -7%;
    left: 84%;
}
.headerContent h2 span{
    color: #ffc107;
}
.headerContent h2 span:first-child{
    background-color: #ffc107;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: 700;
}
.headerContent img{
    width: 100%;
    position: relative;
}